@model tacotron2_management.Models.TblAudio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblAudio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrained)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MosScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MosScore)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblTranscript)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblTranscript.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
