@model tacotron2_management.Models.TblModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MosAverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MosAverage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblTrainId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblTrainId)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
