@model X.PagedList.IPagedList<tacotron2_management.Models.TblTranscript>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

<link href="~/css/custom-pagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "TblTranscript";

}

<h1>Transcript</h1>
<h2>Total Transcripts: @Model.TotalItemCount</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
@using (Html.BeginForm("Index", "TblTranscripts", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("ID", "Index")

            </th>
            <th>
                @Html.ActionLink("Content", "Index")

            </th>
            @* <th>
                @Html.ActionLink("IsTrained", "Index")
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td class="column-width">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IsTrained)
            </td> *@
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


